<?xml version = "1.0" encoding = "utf-8" ?>
<hibernate-configuration xmlns = "urn:nhibernate-configuration-2.2">
  <session-factory>

    <property name = "connection.connection_string">
      Data Source = (LocalDb)\MSSQLLocalDB;
      Initial Catalog = BookWormDB;
      Integrated Security = True;
      Connect Timeout = 15;
      Encrypt = False;
      TrustServerCertificate = False;
      ApplicationIntent = ReadWrite;
      MultiSubnetFailover = False;
      AttachDBFilename=C:\Users\natan\OneDrive\Desktop\Programming\Bookworm\BookWorm\BookWorm\App_Data\BookWormDB.mdf;
    </property>

    <property name = "connection.driver_class">
      NHibernate.Driver.SqlClientDriver
    </property>

    <property name = "dialect">
      NHibernate.Dialect.MsSql2008Dialect
    </property>

    <property name="show_sql">true</property>

    <mapping assembly = "BookWorm.Data"/>

  </session-factory>

</hibernate-configuration>